.nav-link {
  font-size: 18px;
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 15px;
}
.nav-icon {
  padding-right: 10px;
  font-size: 21px;
}
.active {
  color: #e15c45 !important;
  background-color: #feeae9;
  border-radius: 0px 8px 8px 0px;
}
.nav-item {
  display: flex;
  align-items: center;
}

.nav-link {
  display: flex;
  align-items: center;
  width: 100%;
}

.nav-link i.fa-chevron-down {
  margin-left: auto;
}
